<!DOCTYPE html>
<html lang="fr" data-th-replace="~{layouts/layout :: layout(~{::title}, ~{::main}, ~{::link})}">
<head>
	<link rel="stylesheet" type="text/css" href="/css/demo-form.css"/>
	<title data-th-text="#{view-create-avis}"></title>
</head>
<body>
	<main>
		<form method="post" data-th-action="@{'/avis/' + ${film.id}}">
			<h1 data-th-text="#{view-create-avis.heading(${film.titre})}"></h1>
			<ul class="flex-outer">
				<li>
					<label for="inputNote" data-th-text="#{view-create-avis.note}"></label>
					<input type="number" min="1" max="10" name="note" id="inputNote" required />
				</li>
				<li>
					<label for="inputCommentaire" data-th-text="#{view-create-avis.commentaire}"></label>
					<textarea name="commentaire" id="inputCommentaire" required></textarea>
				</li>
				<li>
					<button type="submit" data-th-text="#{view-create-avis.enregistrer}"></button>
				</li>
			</ul>
		</form>
	</main>
</body>
</html>
