<!DOCTYPE html>
<html lang="fr" data-th-replace="~{layouts/layout :: layout(~{::title}, ~{::main}, ~{::link})}">
<head>
      <link rel="stylesheet" type="text/css" href="/css/demo-form.css"/>
      <title data-th-text="#{view-detail-film}"></title>
</head>
<body>
      <main>
		<h1 data-th-text="#{view-detail-film.heading}"></h1>
		<ul class="flex-outer">
			<li>
				<label for="inputGenre" data-th-text="#{view-description-film.genre}">Genre :</label>
				<input type="text" name="genre" id="inputGenre" data-th-value="${film.genre.titre}" readonly />
			</li>
			<li>
				<label for="inputAnnee" data-th-text="#{view-description-film.annee}">Année :</label>
				<input type="text" name="annee" id="inputAnnee" data-th-value="${film.annee}" readonly />
			</li>
			<li>
				<label for="inputTitre" data-th-text="#{view-description-film.titre}">Titre :</label>
				<input type="text" name="titre" id="inputTitre" data-th-value="${film.titre}" readonly />
			</li>
			<li>
				<label for="inputRealisateur" data-th-text="#{view-description-film.realisateur}">Réalisateur :</label>
				<input type="text" name="realisateur" id="inputRealisateur" data-th-value="${film.realisateur.prenom + ' ' + film.realisateur.nom}" readonly />
			</li>
			<li>
				<label for="inputDuree" data-th-text="#{view-description-film.duree}">Durée :</label>
				<input type="text" name="duree" id="inputDuree" data-th-value="${film.duree}" readonly />
			</li>
			<li>
				<label for="inputActeurs" data-th-text="#{view-description-film.acteurs}">Acteurs :</label>
				<select name="acteurs" id="inputActeurs" data-th-size="5" multiple>
					<option data-th-each="acteur : ${film.acteurs}" data-th-text="${acteur.prenom} + ' ' + ${acteur.nom}"></option>
				</select>
			</li>
			<li>
				<label for="inputSynopsis" data-th-text="#{view-description-film.synopsis}">Synopsis :</label>
				<textarea name="synopsis" id="inputSynopsis" data-th-text="${film.synopsis}" readonly></textarea>
			</li>
			<li data-th-if="${avis}">
				<label for="listeAvis" data-th-text="#{view-detail-film.commentaires}">Commentaires :</label>
				<ul id="listeAvis">
					<li data-th-each="un_avis : ${avis}" data-th-text="${un_avis.membre.pseudo} + ' a mis ' + ${un_avis.note} + '/10: ' + ${un_avis.commentaire}"></li>
				</ul>
			</li>
		</ul>
	</main>
</body>
</html>
